@charset "UTF-8";
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f9fdff;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  text-transform: uppercase;
  vertical-align: middle;
  padding-right: 20px;
  padding-left: 20px;
}

.header-flex__left {
  display: flex;
  justify-content: space-around;
}

.header-flex__right {
  display: flex;
}

#logo {
  vertical-align: middle;
  cursor: pointer;
}

li {
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  list-style-type: none;
  vertical-align: middle;
  padding-top: 5px;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.13em;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width .3s;
  background: #303032;
}

.link:hover::after {
  width: 100%;
  transition: width .4s;
}

#search {
  cursor: pointer;
}

#shop {
  padding-left: 60px;
  cursor: pointer;
}

.background-pink {
  position: absolute;
  right: 0;
  top: 0;
  background: #fceae8;
  width: 30%;
  z-index: -3;
  height: 600px;
}

#SLG_balloon_obj {
  display: none !important;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

.wrapper {
  max-width: 1024px;
  padding: 10px;
  margin: 0px auto;
  display: none;
}

.menuToggle {
  color: #313133;
  padding: 10px 15px;
  cursor: pointer;
  display: none;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans.woff2") format("woff2"), url("../fonts/open-sans.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans-bold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display.woff2") format("woff2"), url("../fonts/playfair-display.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/playfair-display-bold.woff2") format("woff2"), url("../fonts/playfair-display-bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
}

.slick-slider {
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
}

.slick-slider__flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: none;
}

.slick-slider__left-block {
  height: 360px;
  max-width: 545px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
  margin-left: 2px;
}

.slick-slider__left-block h1 {
  font-family: Playfair Display;
  font-size: 57px;
  font-weight: 700;
  line-height: 83px;
  letter-spacing: 0.05em;
}

.slick-slider__left-block p {
  text-transform: none;
  font: 400 14px "Open sans", sans-serif;
  position: relative;
  bottom: -4px;
  margin-top: 10px;
}

.slick-slider__left-block #display-block p {
  display: inline-block;
}

.slick-slider__left-block h3 {
  font: 600 30px "Open sans", sans-serif;
  display: inline-block;
  margin-left: 20px;
}

.slick-slider__right-block {
  vertical-align: middle;
  margin-top: 40px;
}

.slick-slider__left-block button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  max-width: 238px;
  padding: 18px 80px;
  font: 400 14px "Open sans", sans-serif;
  background-color: #303032;
  color: #FFFFFF;
  letter-spacing: 0.13em;
}

.slick-slider__left-block button:hover {
  background-color: #424244;
}

.slick-slider__left-block button:focus {
  background-color: #676769;
  outline: none;
}

.draggable {
  outline: none;
}

.container:focus {
  outline: none;
}

.slick-dots {
  position: absolute;
  right: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.flex-section__new-items {
  display: flex;
  text-align: center;
  margin-top: 200px;
}

.flex-section__new-items p {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.flex-section__new-items h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}

.flex-section__new-items h2 {
  font-family: Playfair Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  max-width: 130px;
  position: relative;
  top: 25%;
  margin-left: 20px;
}

.flex-section__left-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-section__left-block__flex-tile {
  width: 270px;
  height: 289px;
  padding-top: 20px;
  margin: 0 10px 20px 10px;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
  background: #fff;
}

.flex-section__right-block {
  width: 570px;
  height: 100%;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.03);
}

.flex-section__right-block img {
  width: 100%;
}

.bg-none {
  background: transparent;
  box-shadow: none;
}

#white {
  background: white;
  max-height: 638px;
}

.new-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  transition: width .3s;
  background: #303032;
}

.flex-section__new-items:hover :after {
  width: 100%;
  transition: width .4s;
}

.flex-section__left-block__flex-tile.bg-pink {
  background: #faece9;
}

.slick-slider-rewiev {
  max-width: 825px;
  margin: 0 auto;
  margin-top: 50px;
}

.slick-slider-rewiev__content {
  margin: 0 auto;
  text-align: center;
  color: #444348;
}

.slick-slider-rewiev__content img {
  margin: 0 auto;
  margin-bottom: 20px;
}

.slick-slider-rewiev__content__info {
  margin-bottom: 20px;
}

.slick-slider-rewiev__content__info h3 {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.slick-slider-rewiev__content__info p {
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
}

.slick-slider-rewiev__content__rewiev {
  text-transform: none;
  font-style: italic;
  line-height: 25px;
}

/* стилизация стрелок*/
@media screen and (min-width: 1151px) {
  .dp-none {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .flex-section__right-block {
    display: none;
  }
  .dp-none img {
    max-height: 215px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 1024px) {
  .slick-slider__left-block {
    max-width: 420px;
  }
  .slick-slider__left-block h1 {
    font-size: 45px;
  }
  .slick-slide img {
    width: 100%;
  }
  .flex-section__new-items {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) {
  .slick-slider__left-block {
    max-width: 380px;
  }
  .slick-slider__left-block h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .slick-slider__left-block p {
    margin-top: -4px;
  }
  .flex-section__new-items {
    margin-top: 100px;
  }
  .background-pink {
    height: 525px;
  }
}

@media screen and (max-width: 768px) {
  .slick-slider__flex {
    display: flex;
    flex-direction: column-reverse;
  }
  .slick-slider__left-block {
    max-width: 340px;
    margin-left: 30px;
  }
  .slick-slider__left-block h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .slick-slider__left-block p {
    margin-top: -30px;
  }
  .slick-slider__left-block button {
    margin-top: -30px;
  }
  .slick-slide img {
    margin: 0 auto;
    width: 80%;
  }
  .background-pink {
    width: 50%;
    height: 480px;
    right: -25px;
  }
}

.header-flex__left li {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 520px) {
  .header-flex__left {
    display: none;
  }
  .header-flex__right {
    position: absolute;
    right: 90px;
    top: 20px;
  }
  .wrapper {
    display: block;
  }
  .menuToggle {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 2000;
  }
  .menu {
    display: none;
    position: absolute;
    top: -20px;
    background: #303032;
    width: 105%;
    margin-left: -10px;
    padding-left: 10px;
    z-index: 2;
  }
  .menu li {
    display: block;
    text-transform: uppercase;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.13em;
    text-align: center;
    z-index: 1001;
  }
  .menuToggle .icon .active {
    background: #FFFFFF;
  }
  .icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 100;
  }
  .hamburger {
    width: 30px;
    height: 3px;
    transform: translate(-50%, -50%);
    background: #313133;
    transition: 0.5s;
    display: inline-block;
    margin-left: 12px;
  }
  .hamburger:before,
  .hamburger:after {
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
    background: #313133;
    transition: 0.5s;
  }
  .hamburger:before {
    top: -12px;
  }
  .hamburger:after {
    top: 12px;
  }
  .icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
  }
  .icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
    background: #ffffff;
  }
  .icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
    background: #ffffff;
  }
  #burger-pt {
    padding-top: 150px;
  }
  #burger-pb {
    padding-bottom: 150px;
  }
  #burger-p {
    padding-top: 57px;
    padding-bottom: 57px;
  }
  #logo-mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  .slick-slider__left-block h1 {
    font-size: 39px;
  }
  .slick-slider__left-block button {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .slick-slider__left-block h1 {
    font-size: 27px;
    line-height: 46px;
  }
}
/*# sourceMappingURL=main.css.map */



.slider-arrow {
  position:absolute;
  bottom: 25px;
  z-index: 99;
  width: 29px;
  height: 20px;
  cursor: pointer;
  top: 110px;
}

.slider-arrow__left {
  background:  url(../img/arrow-left.svg ) center no-repeat;
  right: 90%;
  margin-right: 100px;
  transform: rotate(180deg);
  padding: 9px 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50px;

}

.slider-arrow__right {
  background:  url(../img/arrow-left.svg ) center no-repeat;
  right: 10%;
  margin-right: -100px;
  padding: 9px 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

/* перебивка точек слайдера */
.slick-dots li button:before{
  content: '';
  background: url(../img/dot-nonactive.svg) center no-repeat;
}

.slick-dots li.slick-active button:before {
  content: '';
  background: url(../img/dot-active.svg) center no-repeat;
}