body {
    font-family: "Manrope", sans-serif;
    color: #18191f;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0;
}

section {
    background-color: #D5FAFC;
}

.container {
    width: 1110px;
    margin: 0 auto;
    background-color: #D5FAFC;
}

.leftblock {
    background-color: #2EC5CE;
    display: inline-block;
    vertical-align: middle;
}

.leftblock_txt {
    display: inline-block;
    margin: 246px 95px 246px 0px;
    background-color: #2EC5CE;
    width: 445px;
}

h2{ 
    font-size: 48px;
    margin-bottom: 8px;
}

p { 
    font-size: 18px;
    width: 400;
}

.rightblock {
    margin-left: -3px;
    width: 569px;
    display: inline-block;
    background-color: #ffffff;
    vertical-align: middle;
}

.rightblock_txt_icon {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 24px;
    display: inline-block;

}

#girl {
    vertical-align: middle;
    margin-top: -15px;
}

.name_block {
    display: inline-block;
    margin: 0 auto;
    margin-left: 16px;
    margin-bottom: 24px;
    vertical-align: middle;

}

#jenny {
    font-size: 18px;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 10px;

}

#Vice {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
}

#quotes {
    margin: 40px 40px 24px 450.35px;
}
#gopro {
    margin-top: 48px;
    margin-left: 40px;
    display: inline-block;
}

#vector-left{
    padding: 13px 16px;
    margin-right: 8px;
}

#vector-right{
    padding: 13px 16px;
}

.vector-container {
    display: inline-block;
    margin: 48px 40px 40px 254px;
}
