@font-face 
    font-family: "PlayfairDisplay-Regular"
    src: local ('PlayfairDisplay')
        url:('../fonts/PlayfairDisplay-Regular.ttf') format('ttf')
    font-weight: 400
    font-style: normal

@font-face 
    font-family: "PlayfairDisplay-Bold"
    src: local ('PlayfairDisplay'),
        url:('../fonts/PlayfairDisplay-Regular.ttf') format('ttf')
    font-weight: 700
    font-style: normal

