@media screen and (max-width: 1024px) 
    .slick
        &-slider
            &__left-block
                max-width: 420px    
            &__left-block h1
                font-size: 45px
    .slick-slide img
        width: 100%
        
@media screen and (max-width: 900px)         
    .slick
        &-slider
            &__left-block
                max-width: 380px  
            &__left-block h1
                font-size: 40px
                line-height: 50px
            &__left-block p 
                margin-top: -4px    

@media screen and (max-width: 768px)         
    .slick
        &-slider
            &__flex 
                display: flex 
                flex-direction: column-reverse 
            &__left-block
                max-width: 340px  
                margin-left: 30px   
            &__left-block h1
                font-size: 40px
                line-height: 50px
            &__left-block p 
                margin-top: -30px    
            &__left-block button 
                margin-top: -30px
    .slick-slide img
        margin: 0 auto
        width: 80%
    .background-pink
        width: 50%
        height: 480px   
        right: -25px
.header-flex__left li
    padding-left: 20px
    padding-right: 20px 